#  *.pyc                    ignora todos los archivo .pyc
#  token.json               ignora el archivo 'token.json'
#  credentials.json         ignora el archivo 'credentials.json'
cacpy-env/
RECURSOS/
*.pyc
token.json
credentials.json
baseDatos.db

